<h2>Edit your profile</h2>
<%= render 'form' %>
<br/>
<br/>
<br/>
<%# TODO: add nice container with a button to delete the account with a confirmation %>
<%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: "Confirm deletion of User \"#{@user.username}\"?"} %>