<div class="page-content row justify-content-center">
  <div class="col-12 text-center">
    <h2>Edit your profile</h2>
  </div>
  <%= render 'form' %>
  <div class="col-auto mt-4 text-center">
    <h4>Delete your account?</h4>
    <%= link_to 'Delete', user_path(@user), method: :delete, data: { confirm: "Confirm deletion of User \"#{@user.username}\"?"}, class: "btn btn-danger" %>
  </div>
</div>