<h1>Authors</h1>
<% @users.each do |user| %>
  <span>Username: <%= user.username %></span><br/>
  <%# TODO: bad idea to show email, add a share_info boolean which can be toggled in a settings screen
      by toggling the user accepts to make his email public, then we just do conditional rendering here
  %>
  <span>Email: <%= user.email %></span><br/>
  <span>Joined <%= time_ago_in_words(user.created_at) %> ago</span><br/>
  <br/>
  <br/>
<% end %>
<br/>