<div class="container">
  <div id="homepage_banner_container" class="row justify-content-center vertical-center">
    <div class="col-12 col-md-7 h-100 p-5 bg-light border rounded-3">
      <h2>Welcome to Runtime Revolution's Blog!</h2>
      <p>Browse our articles or post your own<br/>
         Explore new ideas and connect with community members</p>
      <%= link_to 'Sign up', signup_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>