.brand-logo {
  width:auto;
  height:auto;
  max-height: 5vh;
}

#homepage_banner_container {
  min-height: 70vh;
}

.article-title {
  text-decoration: none;
}

// helper classes
.page-content {
  margin-top: 5vh;
  min-height: 60vh;
}

.vertical-center {
  display:flex;
  align-items:center;
}