//Set the color coding for article status
.article-status-badge-draft {
  background-color: #0d6efd !important;
}

.article-status-badge-pending {
  background-color: #ffc107 !important;
}

.article-status-badge-live {
  background-color: #198754 !important;
}

.brand-logo {
  width:auto;
  height:auto;
  max-height: 5vh;
}

#homepage_banner_container {
  min-height: 70vh;
}

.article-title {
  text-decoration: none;
}

.action-icons {
  text-decoration: none;
  font-size: 1.3em;
}

// helper classes
.page-content {
  margin-top: 5vh;
  min-height: 60vh;
}

.vertical-center {
  display:flex;
  align-items:center;
}