.brand-logo {
  width:auto;
  height:auto;
  max-height: 5vh;
}

#homepage_banner_container {
  min-height: 70vh;
}

.page-content {
  margin-top: 5vh;
  min-height: 60vh;
}

// helper classes
.vertical-center {
  display:flex;
  align-items:center;
}